[Unit]
Description=Restore iptables ipv4 firewall rules
Requires=networking.service
Before=network-pre.target
ConditionPathExists=/etc/firewall/rules.ipv4

[Service]
Type=oneshot
ExecStart=/sbin/iptables-restore -n /etc/firewall/rules.ipv4
ExecStop=/bin/true
RemainAfterExit=true

[Install]
WantedBy=multi-user.target